chromadb
jupyter
langchain
llama-cpp-python
matplotlib
numpy

# TODO: add dependencies for NLP, bs4, etc from requirements.txt

# required for QWEN 7B demo
transformers==4.31.0
accelerate
tiktoken
einops
transformers_stream_generator==0.0.4
scipy

# required for baichuan2-7B-chat
bitsandbytes
sentencepiece>=0.1.82
xformers