<!doctype html>
<html lang="zh-CN">
<head>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="main.css">
  <meta charset="utf-8">

  <script>
    const { createApp, ref } = Vue

    // Get the current URL
    const url = new URL(window.location.href);

    // Get the query parameters
    const queryParams = url.searchParams;

    // Create an empty dictionary (object) to store the parameters
    const paramsDictionary = {};

    // Iterate through the query parameters and populate the dictionary
    for (const [key, value] of queryParams.entries()) {
      paramsDictionary[key] = value;
    }

    console.log(paramsDictionary);


    function loadJSON(callback) {
      fetch(`../data/books/${paramsDictionary.book}/chapters/${paramsDictionary.chapterNumber}.json`)
        .then(response => response.json())
        .then(data => callback(data))
        .catch(error => console.error('Error loading JSON file:', error));
    }

    loadJSON(data => {
      createApp({
        setup() {
          return {
            data: data,
            paramsDictionary,
          }
        }
      }).mount('#app')
    })
  </script>

</head>
<body class="" style="background-color: rgb(207, 187, 140);">
  <div id="app">
    <div v-if="data" class="sm:p-32 md:p-16 p-4 text-2xl">
      <div class="text-center font-bold"><span>上&nbsp;&nbsp;&nbsp;</span>{{ data.title }}<span>&nbsp;&nbsp;&nbsp;下</span></div>
          <div v-if="data.parsed_paragraphs">
            <div class="p-2" v-for="(paragraph, i) in data.parsed_paragraphs">
                <span class="hover:font-bold text-gray" v-for="token in paragraph" :title="token.definition">
                    <span v-for="character in token.characters" :title="`
  Word: ${token.text} (${token.pinyin}) - ${token.definition}

  Character: ${character.character} (${character.pinyin}) ${character.definition}

  `"><span class="rounded" :style="`
  background-color: color-mix(in srgb, rgba(170, 56, 30, 0) ${((1 - (character.overall_frequency*1.3))*100)}%, rgb(170, 56, 30));

  `">
  {{ character.character }}
                        </span>
                    </span>
                </span>
                <div>{{ data.translated_paragraphs[i] }}</div><br /><br />
            </div>
        </div>
    </div>

  </div>
</body>
